name: Test all targets

on: [push, pull_request]

jobs:
  quick-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: stable
        override: true
    - name: Check Type
      run: cargo fmt -- --check
    - name: Run internal tests
      run: cargo test --verbose -- --nocapture
    - name: Build
      run: cargo build
    - name: Build w/Serde
      run: cargo build --features serde

  build:
    needs: quick-tests
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1.0.6
      with:
        toolchain: stable
        override: true
    - name: Build docs
      run: cargo doc
    - name: Deploy
      uses: peaceiris/actions-gh-pages@v3
      if: ${{ github.ref == 'refs/heads/master' }}
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./target/doc

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Checkout to repository
        uses: actions/checkout@v2
        with:
          submodules: recursive
      - name: Setup Rust toolchain
        uses: actions-rs/toolchain@v1.0.7
        with:
          toolchain: stable
          override: true
      - name: Install cargo-bump
        run: cargo install cargo-bump --force
      - name: Modify version with tag
        run: cargo bump ${{ github.ref_name }}
      - name: Automatic commit for crate version upgrade
        uses: stefanzweifel/git-auto-commit-action@v4
        with:
          branch: master
          commit_message: "Cargo: Update the crate version to ${{ github.ref_name }}"
      - name: Publish to crates.io
        uses: katyo/publish-crates@v1
        with:
          args: --allow-dirty
          registry-token: ${{ secrets.CARGO_REGISTRY_TOKEN }}
